# node module files
**/node_modules
**/*/node_modules

# dotenv environment variables file
.env
.env.test
SSRSWebApi/SSRSWebApi/bin/Debug/net6.0/appsettings.Development.json
SSRSWebApi/.vs/
SSRSWebApi/SSRSWebApi/bin/
SSRSWebApi/SSRSWebApi/obj/
SSRSWebApi/TestProject/obj/
SSRSWebApi/DomainLogic/bin/
SSRSWebApi/DomainLogic/obj/
SSRSWebApi/DomainModels/bin/Debug/
SSRSWebApi/DomainModels/obj/Debug/
SSRSWebApi/DomainModels/obj/
SSRSWebApi/TestProject/bin/
SSRSWebApi/DomainModels/bin/
/BoatSimulatorNet6/.vs
/BoatSimulatorNet6/BoatSimulator/bin/
/BoatSimulatorNet6/BoatSimulator/obj
